!!! 5
html
  head
    title Gotta Go
    meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
    link(rel='stylesheet', type='text/css', href='/css/reset.css')
    link(rel='stylesheet', type='text/css', href='/css/fonts.css')
    link(rel='stylesheet', type='text/css', href='/css/style.css')
    link(rel='stylesheet', type='text/css', href='/css/responsive.css')
    script(type='text/javascript', src='//use.typekit.net/ytv8cko.js')
    script(type='text/javascript')
      try{Typekit.load();}catch(e){}
  body
    .topbar-wrapper
      .topbar
        h1
          | Gotta
          b Go!
        h2 go
    .badge-wrapper
      .second-floor-badges
        .badge.twoa.vacant
          .twoa-vacant Vacant
        .badge.twob.occupied
          .twob-occupied Occupied
      .badge-title.twoa-title
        h3 Stinky Repo
        .timestamp
          span.hours 00:
          | 00:00
      .badge-title.twob-title
        h3 The Holy Commode
        .timestamp
          span.hours 00:
          | 00:00
      .notify
        .thronesblurb
          strong Both thrones are occupied!
          br
          | We can let you know when they're vacant.
        a.notify-button(href='#') Notify Me
        .queue (4 humans in the queue)
    .about-wrapper
      .about
        h2 Just think of how much time we've saved you?
        .avatar.joe
        .avatar.eric
        .avatar.collin
    .doors-wrapper
      .doors
