!!! 5
html
  head
    title Gotta Go
    meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
    link(rel='stylesheet', type='text/css', href='/css/reset.css')
    link(rel='stylesheet', type='text/css', href='/css/fonts.css')
    link(rel='stylesheet', type='text/css', href='/css/style.css')
    link(rel='stylesheet', type='text/css', href='/css/responsive.css')
    script(type='text/javascript', src='/js/lib/angular/angular.js')
    script(type='text/javascript', src='/js/lib/angular/angular-resource.js')
    script(type='text/javascript', src='/js/app.js')
    script(type='text/javascript', src='/js/controllers.js')
    script(type='text/javascript', src='/js/directives.js')
    script(type='text/javascript', src='/js/filters.js')
    script(type='text/javascript', src='/js/services.js')

    script.
      try{Typekit.load();}catch(e){}
  body(ng-app="gottaGo", ng-controller="GGMainCtrl")
    {{error}}
    .topbar-wrapper
      .topbar
        h1
          | Gotta
          b Go!
        h2 go
    .badge-wrapper(ng-repeat="floor in floorsArray")
      div(class="floor-badges")
        .badge.twoa.vacant(ng-show="floor[0].status==0")
          .twoa-vacant Vacant
        .badge.twoa.occupied(ng-hide="floor[0].status==0")
          .twoa-occupied Occupied
        .badge.twob.vacant(ng-show="floor[1].status==0")
          .twob-vacant Vacant
        .badge.twob.occupied(ng-hide="floor[1].status==0")
          .twob-occupied Occupied
      .badge-title.twoa-title
        h3 {{getRoomNames(floor[0].floor,floor[0].room)}}
        timer(interval="1000", start-time="floor[0].time").timestamp
          span.hours {{hours|double}}:
          | {{minutes|double}}:{{seconds|double}}
      .badge-title.twob-title
        h3 {{getRoomNames(floor[1].floor,floor[1].room)}}
        timer(interval="1000", start-time="floor[1].time").timestamp
          span.hours {{hours|double}}:
          | {{minutes|double}}:{{seconds|double}}
      .notify(ng-show="floor[0].status==1&&floor[1].status==1")
        .thronesblurb
          strong Both thrones are occupied!
          br
            span(ng-hide="notify[floor[0].floor]=='input'||notify[floor[0].floor]=='qued'") We can let you know when they're vacant.
        a.notify-button(ng-click='notify[floor[0].floor]="input"', ng-hide="notify[floor[0].floor]=='input'||notify[floor[0].floor]=='qued'")
          | Notify Me
        input(ng-model="notifyContact", ng-show="notify[floor[0].floor]=='input'")
        a.addqueue(ng-click="addToQue(floor[0].floor, notifyContact)", ng-show="notify[floor[0].floor]=='input'")
          | Add Queue
        div(ng-show="notify[floor[0].floor]=='qued'") You are in the queue!
        .queue(ng-hide="notify[floor[0].floor]=='qued'") ({{que[$index]}} humans in the queue)
        .queue(ng-show="notify[floor[0].floor]=='qued'")
          span(ng-show="que[$index]-1>0") ({{que[$index]-1}} OTHER humans in the queue)
          span(ng-hide="que[$index]-1>0") (You are the only one in the queue right now)
    .about-wrapper
      .about
        h2 Just think of how much time we've saved you?
        .avatar.joe
        .avatar.eric
        .avatar.collin
    .doors-wrapper
      .doors
